$pcolor: #3f55e6;
.pcolor{
    color:#3f55e6;
}
.grey{
    color: #9ba6bd;
}
html{font-family: 'Montserrat', sans-serif; font-size:14px; color: #0a103c;}
body{margin:0;}
button, input, select{  font-family: 'Montserrat', sans-serif; }
p,h1,h2,h3,h4,h5,h6,ul,li{margin:0; padding:0;}
.btn-wb{ color: #687083; border:1px solid $pcolor;  background:white; border-radius: 5px; font-size:0.7rem;
         padding:5px 10px; margin-top:5px; font-weight: 500;}
input{
    width:100%;
    padding:15px 35px;
    padding-top:13px;
    border:1px solid #e2e7e7;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.03);
}
input::placeholder{ font-size: 0.8rem; color: #0a103c; font-weight: 500;}
.btn-round{
    background:#8f56d9;
    border-radius:50%;
    height: 40px;
    width:40px;
    border:none;
    color:white;
    padding:8px;
}

.music-page{ display:flex; padding-bottom:60px;
.nav-menu{
    width:220px; background: #f7f6f8;
    .profile-details{ position:fixed; top:0; left:0; width:220px; box-sizing: border-box; display: flex; align-items: center; padding:20px 20px; border-bottom: 1px solid #e8ebef;
    .dp{ 
        .user-image{ background-image:url('https://i.ytimg.com/vi/94MPsHNbexA/maxresdefault.jpg'); height:50px; width:50px;
                     background-position: center; background-size: cover; border-radius:50%; position: relative;
                .user-blur{ position: absolute; z-index: 1; background-image: url('https://i.ytimg.com/vi/94MPsHNbexA/maxresdefault.jpg');
                            background-position: center; background-size: cover; bottom:10px; left:10px; width:30px; height:30px;
                            -webkit-filter: blur(20px); z-index: 0; display: none;  }}} 
    .user-name{ padding-left:15px; 
        p{ font-weight: 500; }}}
    .menu-wrapper { padding:20px; position: fixed; top:91px; left:0; bottom:0;
                    width: 220px; box-sizing: border-box; padding-bottom:70px; overflow-y: scroll;
    .menu-items{ 
        .menu-head{ display: flex; align-items: center; font-size:0.9rem;
            .head-name{ flex:9;  font-weight: 500;}
            .more-icon{ flex:1; i{ font-size: 1.2rem; vertical-align: middle; } } }
        ul{ padding:20px 0px; li{ list-style: none; vertical-align: middle; padding:10px 0px;
                a{ img{ width:14px; margin-right:15px; vertical-align: middle; } font-size: 0.9rem; text-decoration: none; color: #0a103c; font-weight:500; }
                 }}}}}
.songs-section{ width: calc(100% - 220px);
    .songs-nav{ display: flex; padding:20px 30px; padding-top:24px; position:fixed; background:white; z-index:7;
                width: calc(100% - 220px); top:0; right:0; box-sizing: border-box; 
        .songs-search{ flex:2; position: relative; i{ font-size: 1.3rem;} 
            .search-icon{ position: absolute; top:15px; left:10px; }
            .voicesearch-icon{ position: absolute; top:15px; right:-55px; }}
        .songsmenu-item{ display: flex; flex:5; justify-content: flex-end; align-items: center;
            ul{  display: flex; align-items: center;
                li{ list-style: none; padding:0px 20px;
                    a{ text-decoration: none; color: #0a103c; font-weight: 600; font-size: 0.9rem;
                    i{ font-size: 1.3rem; margin-right:-10px;} }} }
         }}
        .result-wrapper{ margin-top:100px;
            .songs-result{ padding-bottom:20px; 
                .result-head{ display: flex; padding:0px 30px; 
                    .feature{ min-width:200px;  h2{ font-weight: 500; } }
                    .dotted-line{ border-top:1px dashed #dbdfdf; width:75%; margin-top:15px;  }
                    .nav-arrow{ justify-content: flex-end; margin-right:10px; width:5%; i{ font-size: 0.9rem;} align-items: center; display: flex; padding-top:5px;}}
            .song-display{ padding:20px 30px; display: flex; justify-content: flex-start; flex-wrap: wrap; }                    
        }
        .recommendations{ padding:0px 30px; display: flex; p{ font-size: 0.7rem; font-weight: 500; color:#9ba6bd; 
        }.active{ color: #0a103c; }
        h2{ font-weight: 500;}
        .recom-wrapper{ flex:3; 
            .recom-head{  padding-bottom:10px; }
            .song-list{ display: flex; align-items: center; padding:10px 0px;
                .recom-song{ flex:2; img { width:20px; height:20px; margin-right:5px; border-radius: 5px; vertical-align: middle; } 
                            p{ padding-top:2px; }}
                .recom-album{ flex: 2; }
                .recom-singer{ flex: 2; }
                .play-time{ flex: 1;  display: flex; }} }
        .upcoming-shows{ flex: 5;
            .show-wrapper{ display: flex;
            .show-details{ 
                margin-right:20px;
                position: relative;
                margin-top:20px;
                width:250px;
                height:110px;
                background:url('./disc.jpg');
                border-radius:5px;
                background-position: center;
                background-size: cover;
                &:after{
                content:"";
                background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(55,112,174,1) 35%,rgba(59,116,177,0) 45%,rgba(125,185,232,0) 100%);
                position: absolute;
                top:0;
                left:0;
                border-radius: 5px;
                height:110px;
                width:250px;
                }
                .show-blur{
                    position:absolute;
                    width:170px;
                    height:110px;
                    left:50px;
                    bottom:-10px;
                    background: url('./disc.jpg');
                    z-index: -1;
                    -webkit-filter: blur(20px);
                    opacity: 0.6;
                }
                .show-timing{ position:absolute; top:0; left:0; z-index: 3; width:40%; height: 100%; border-radius: 5px; padding:20px; box-sizing: border-box;
                         h6{ font-size: 1rem; color:white; font-weight: 600; margin-bottom:10px;}
                                            p{ color:white;} }
            }}}
            
    }}
}
.song-album{ flex-basis:12.5%; min-width:100px;
.album-art{
    position: relative;
    height:8vw;
    width:8vw;
    margin:0 auto;
    border-radius:5px;
    background-size: cover;
    background-position: center;
    .blur{
    position: absolute;
    height:70px;
    width:40px;
    bottom:-12px;
    border-radius:5px;
    background-size: cover;
    background-position: center;
    left:25px;
    z-index:-1;
    -webkit-filter: blur(20px);
    opacity: 0.5;
    }
}
.song-name{ text-align:center; margin-top:20px;
    p{ font-size: 0.7rem; font-weight: 500; }
    .singer{ font-size: 0.7rem; }}
}

.song-album:nth-child(1) .album-art, .song-album:nth-child(1) .album-art .blur{ background:url('./alan_walker.jpg'); background-size: cover; background-position: center;}
.song-album:nth-child(2) .album-art, .song-album:nth-child(2) .album-art .blur{ background:url('./abstract-wallpapers-25162-897495.jpg'); background-size: cover; background-position: center;}
.song-album:nth-child(3) .album-art, .song-album:nth-child(3) .album-art .blur{ background:url('./Colorful-Polygonal-Render-iPhone-6-Plus-HD-Wallpaper.jpg'); background-size: cover; background-position: center;}
.song-album:nth-child(4) .album-art, .song-album:nth-child(4) .album-art .blur{ background:url('./Abstract-dog-picture-home-decor-5D-DIY.jpg'); background-size: cover; background-position: center;}
.song-album:nth-child(5) .album-art, .song-album:nth-child(5) .album-art .blur{ background:url('./stripes.jpeg'); background-size: cover; background-position: center;}
.song-album:nth-child(6) .album-art, .song-album:nth-child(6) .album-art .blur{ background:url('./home.jpeg'); background-size: cover; background-position: center;}
.song-album:nth-child(7) .album-art, .song-album:nth-child(7) .album-art .blur{ background:url('./women.jpg'); background-size: cover; background-position: center;}
.song-album:nth-child(8) .album-art, .song-album:nth-child(8) .album-art .blur{ background:url('./e-chainsmokers-asia-17.jpg'); background-size: cover; background-position: center;}

.song-album{ 
    .album-art2{
        position: relative;
        height:8vw;
        width:8vw;
        margin: 0 auto;
        border-radius:0px 50% 50% 50%;
        background-size: cover;
        background-position: center;
        .blur2{
        position: absolute;
        height:70px;
        width:40px;
        bottom:-12px;
        border-radius:5px;
        background-size: cover;
        background-position: center;
        left:25px;
        z-index:-1;
        -webkit-filter: blur(20px);
        opacity: 0.5;
        }
    }
    .song-name{ text-align:center; margin-top:20px;
        p{ font-size: 0.7rem; font-weight: 500; }
        .singer{ font-size: 0.7rem; }}
    }
    
    .song-album:nth-child(1) .album-art2, .song-album:nth-child(1) .album-art2 .blur2{ background:url('./alan_walker.jpg'); background-size: cover; background-position: center;}
    .song-album:nth-child(2) .album-art2, .song-album:nth-child(2) .album-art2 .blur2{ background:url('./taylor_swift.jpg'); background-size: cover; background-position: center;}
    .song-album:nth-child(3) .album-art2, .song-album:nth-child(3) .album-art2 .blur2{ background:url('./eminem.jpg'); background-size: cover; background-position: center;}
    .song-album:nth-child(4) .album-art2, .song-album:nth-child(4) .album-art2 .blur2{ background:url('./dua-lipa-new-rules-lyrics.jpg'); background-size: cover; background-position: center;}
    .song-album:nth-child(5) .album-art2, .song-album:nth-child(5) .album-art2 .blur2{ background:url('./chainsmokers.png'); background-size: cover; background-position: center;}
    .song-album:nth-child(6) .album-art2, .song-album:nth-child(6) .album-art2 .blur2{ background:url('./yuvan.jpeg'); background-size: cover; background-position: center;}
    .song-album:nth-child(7) .album-art2, .song-album:nth-child(7) .album-art2 .blur2{ background:url('./arrahman.jpg'); background-size: cover; background-position: center;}
    .song-album:nth-child(8) .album-art2, .song-album:nth-child(8) .album-art2 .blur2{ background:url('./beiber.jpg'); background-size: cover; background-position: center;}
    
}
.play-wrapper{
    p{ font-size:0.9rem;}
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:10px 20px;
    z-index:5;
    
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    background:rgba(236, 235, 234, 0.95);
    display: flex; align-items: center;
    img{ height:40px; width:40px; border-radius: 5px; margin-right:20px;}
    .play-pause{ display: flex; align-items: center; margin:0px 20px;
        .icon-left{ margin-left:20px; margin-right:10px;}
        .icon-right{ margin-left:10px; margin-right:20px;}    
    }
    .play-meter{ display: flex; align-items: center; margin:0px 20px; margin-right:50px; 
        .play-slider{ width:450px; }
    }
    .speaker{ margin-left:10px;}
    .volume-slider{ width: 100px; }
    .zoom{ margin-left:20px; 
        i{ margin:0px 10px;}}
input[type='range'] {
    width: 95%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border:none;
    box-shadow: none;
    padding: 0px;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
      background: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 95%;
    height: 3px;
    background: #003D7C;
  }
  
  input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
  }
  
  
  input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  
  .rangeslider{
      position: relative;
      height: 60px;
      width: 100%;
      display: inline-block;
      margin-top: -5px;
  }
  .rangeslider input{
      position: absolute;
      padding:0px 10px;
      margin-top:20px;
  }
  .rangeslider{
      position: relative;
  }
  
  .rangeslider span{
      position: absolute;
      margin-top: 30px;
      left: 0;
  }
  
  .rangeslider .right{
     position: relative;
     float: right;
     margin-right: -5px;
  }
}